################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Yolk_Pokemon.Api/obj
/Yolk_Pokemon.Application/bin/Debug/net9.0
/Yolk_Pokemon.Application/obj
